<% page_title "Úprava faktury #{@invoice.id}" %>

<div class="row">
  <div class="col-md-6">
    <iframe id="attachment_display" src="<%= @invoice.document.url%>"></iframe>
    <p>
      <%= link_to("#{@invoice.id}.pdf", @invoice.document.url) %>
    </p>
  </div>
  <div class="col-md-6">
    <%= render 'form' %>
  </div>
</div>

<%= link_to "Zpět", @invoice, class: "btn btn-default" %>
