<h1>Namixujte kampaň Svobodných podle svých představ</h1>
<h2>Projekty</h2>
<div class="row" style="display: flex; flex-wrap: wrap;">
  <% @crowdfunding.each do |card| %>
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><%=card.title%></h4>
        <% unless card.image_url.blank? %>
          <%= image_tag "crowdfunding/#{card.image_url}", class: "img-responsive" %>
        <% end %>
      </div>
      <div class="panel-body">
        <%=card.perex%>
      </div>
      <div class="panel-footer"><%= link_to "Cena: #{card.human_price}", public_crowdfunding_path(card.id), class: 'btn btn-primary btn-block' %></div>
    </div>
  </div>
  <% end %>
</div>