<p>Dobrý den,</p>

<p>velice děkujeme za Váš příslib napeněžního daru.</p>

<p>V příloze Vám zasíláme darovací smlouvu. Tu prosím vytiskněte, podepište a
zašlete poštou na naši adresu.</p>

<p>Děkujeme za Vaši podporu</p>

<p>Svobodní</p>
