<% page_title "#{@organization.name}" %>

<h2>Stav prostředků</h2>
<table class="table table-stripped">
	<tr><td>Na bankovním účtu</td><td><%=number_to_currency @bank_balance || "nezjištěno"%></td></tr>
	<tr><td>V pokladně</td><td><%=number_to_currency @cash_balance || "nezjištěno"%></td></tr>
	<tr><td>Celkem</td><td><%=number_to_currency(@balance) || "nezjištěno"%></td></tr>
</table>
